/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
  }
  
  body {
    /* background-color: var(--secondary-color); */
  }
  
  /* Now you can use these variables in any component */
  button {
    /* background-color: var(--primary-color); */
    /* color: white; */
  }
  /* p {
    color:aqua
  } */